<div class="page-header">
    <h2><div id="menu_title">Softtek - Cena aniversario 2015</div></h2>
    <span></span>
</div>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li id="menu_STK"><a href="#" class="menu">STK</a></li>
            <li id="menu_slideshow"><a href="/slideshow" class="menu">Imágenes</a></li>
            <!--li id="menu_users"><a href="/user_admin" class="menu">Usuarios</a></li-->
            <!--li id="menu_quiz_admin"><a href="/quiz_admin" class="menu">Admin concurso</a></li-->
            <li id="menu_quiz"><a href="/quiz_view" class="menu">Concurso</a></li>
            <li id="menu_raffle"><a href="/raffle_view" class="menu">Sorteo</a></li>
        </ul>
        <p class="navbar-text navbar-right"><a href="#" id="fullscreen" style="display: none;" class="navbar-link">Pantalla completa</a></p>
    </div>
</nav>
