        
    <div class="panel panel-default">
      <div class="panel-heading">
          <%= quiz_data.number %>
      </div>
      <div id="quiz_question" class="panel-body">
        <%= quiz_data.q %>
      </div>
      <div id="answers" class="panel-body">
        <% for(var i=0; i<quiz_data.answers; i++) {%>
                
                
                <input type="radio" name="answers" value="<%= i %>" checked><%= quiz_data.answers[i] %>
                
        <% } %>
      </div>
      <div class="panel-footer">Panel footer</div>
    </div>